#error
{
	width:990px;
	margin:0px auto;
	height:30px;
	background-color:#FF0000;
	margin-top:20px;
	padding-left:10px;
	padding-top:10px;
	color:#FFF;
	font-weight:bold;
	font-size:15px;
	display:none;
}