.generic-content-container {
	p {
		line-height: 1.65; /*line-height does not require units*/
		margin: 1.8rem 0;	
		
		/*dimensione del carattere più piccola per schermi piccoli*/
		@mixin atSmall {
			font-size: 1.125 rem;
		}
	}
	
	/*any links (a) laying within a paragraph (p) will have the following rule applied*/
	p a {
		font-weight: 700; /*400 is normal text*/
	}
}