#menu 
{
	width:990px;
	margin:0px auto;
	margin-top:80px;
	text-align:center;
	border-bottom:1px solid #CCC;
}

#menu a
{
	text-decoration:none;
	display:inline-block;
	color:#666;
	padding:14px;
	border-bottom:1px solid #CCC;
	background-color: #F8F8F8;
}

#menu a:hover
{
	color:#000;
	background-color:#eee;
}