.social-icons {
	text-align: center;
	
	&__icon {
		background-color: $mainOrange;
		display: inline-block; /*all icons on the same row but will have a custom height if needed*/
		margin: 0 5px 5px 5px;
		width: 33%;
		height: 72px;
		position: relative;
		
		@mixin atSmall {
			width: 72px;
			margin: 0 5px;
		}
		
		.icon {
			display: block; /*automated width and height values from the sprite setup will be applied*/
			/*this part will center the icons in their boxes*/
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}